<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" />
	<title>ACM Hack</title>

	<link rel="stylesheet" type="text/css" href="/auth/css/main.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="/auth/images/favicon.png" />

	<style>

	.login-box{
		position: absolute;
		height: 200px;
		width: 500px;
		padding: 30px;
		background: #fff;
		box-shadow: var(--shad);
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
	}

	.login-box > *{
		float: left;
	}

	.col-left{
		width: 280px;
		padding-right: 20px;
		text-align: center;
	}

	.divide{
		height: 200px;
		width: 1px;
		background: var(--grey-light);
	}

	.col-right{
		width: 170px;
		margin-left: 20px;
	}

	img{
		width: 50px;
		float: left;
		margin-right: 10px;
	}

	span{
		font-family: var(--fam2);
		color: var(--hack-purp);
		font-size: 25px;
		line-height: 50px;
	}

	a{
		letter-spacing: 0px;
		color: var(--grey-deep);
		font-style: italic;
		text-decoration: underline;
		font-size: 14px;
	}

	a:hover{
		opacity: 0.8;
	}

	.col-right > *{
		color: var(--grey-deep);
	}

	.col-right h3{
		font-size: 16px;
		text-transform: uppercase;
	}
	.col-right p{
		font-size: 12px;
	}

	.fb-login-button{
		margin: 40px 0;
		-webkit-transform: scale(1.6);
				transform: scale(1.6);
	}

	@media only screen and (max-width: 580px) {

		.login-box{
			width: 60%;
			height: 80%;
		}

		.col-left{
			width: 100%;
		}

		.col-left > *{
			margin-bottom: 20px;
		}

		.divide{
			display: none;
		}

		.fb-login-button{
			-webkit-transform: scale(1.2);
					transform: scale(1.2);
		}

		.col-right{
			width: 100%;
			margin: 50px 0;
		}

	}

	</style>
</head>
<body>
<!--https://developers.facebook.com/docs/facebook-login/web/login-button-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1716073192049766";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div class="login-box">
		<div class="col-left">
			<div class="logo">
				<img src="/auth/images/Hack-Logo-Purple.png"/>
				<span>ACMhack</span>
			</div>
			<div>
				<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false">Login with Facebook</div>
			</div>
			<a href="/">...or return to the homepage</a>
		</div>
		<div class="divide"></div>
		<div class="col-right">
			<h3>Why do you guys need my facebook info?</h3><br/>
			<p>ACM hack will not have access to any of your privately accessible Facebook data; we just need a method of keeping track of HackSchool students.</p>
		</div>
	</div>

</body>

</html>
