<!DOCTYPE html>
<html>
    <head>
        <title>ACM Hack | Login</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,400i|Trirong" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/auth/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="main">
            <h1>Sign In</h1>
            <form name="login" method="POST" action="/login">
                <input type="text" name="username" placeholder="Username..." /><br />
                <input type="password" name="password" placeholder="Password..." /><br />
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>