<!DOCTYPE html>
<html>
    <head>
        <title>ACM | Sign In</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,400i,600" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/admin/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="top-bar">
            <div id="top-left-bar">
                <div id="logo"></div>
                <span id="logo-title"><b>ACM</b> Dashboard</span>
            </div>
            <div id="top-right-bar"></div>
        </div>
        <div id="left-pane">
            <div class="pane-section">
                <div class="pane-section-title">Events</div>
                <div class="pane-section-item pane-section-item-selected">
                    <span class="fa fa-calendar"></span>
                    <span class="title">Manage Events</span>
                    <div class="arrow"><span class="fa fa-chevron-right"></span></div>
                </div>
                <div class="pane-section-item">
                    <span class="fa fa-line-chart"></span>
                    <span class="title">Event Metrics</span>
                </div>
                <div class="pane-section-item">
                    <span class="fa fa-sign-in"></span>
                    <span class="title">Attendence</span>
                </div>
            </div>
            <div class="pane-section">
                <div class="pane-section-title">Assignments</div>
                <div class="pane-section-item">
                    <span class="fa fa-briefcase"></span>
                    <span class="title">Manage Assignments</span>
                </div>
                <div class="pane-section-item">
                    <span class="fa fa-eye"></span>
                    <span class="title">View Submissions</span>
                </div>
            </div>
            <div class="pane-section">
                <div class="pane-section-title">Leaderboards</div>
                <div class="pane-section-item">
                    <span class="fa fa-list-ol"></span>
                    <span class="title">Manage Leaderboards</span>
                </div>
                <div class="pane-section-item">
                    <span class="fa fa-refresh"></span>
                    <span class="title">Update Leaderboard</span>
                </div>
            </div>
        </div>
        <div id="content">

        </div>
    </body>
</html>