@font-face {
	font-family: 'Open Sans';
	src: url('/common/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('/common/fonts/Montserrat-Regular.ttf');
}

@font-face{
	font-family: 'Source Code Pro';
	src: url('/common/fonts/SourceCodePro-Regular.ttf');
}

/*=================BASE-STYLES=====================*/
:root{
	--hack-purp: #694873;
	--hack-black: #2D0B38;
	--acc-deep: #7322B8;
	--acc-pastel: #CEA2F4;

	--grey-deep: #696969;
	--grey-light: #F0F0F0;
	--comp-deep: #229CB8;
	--comp-pastel: #A2E1F4;

	--highlight: #FF9700;

	--fam1: 'Open Sans', sans-serif;
	--fam2: 'Montserrat', sans-serif;
	--fam3: 'Source Code Pro', sans-serif;

	--shad: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

*{
	margin: 0;
	padding: 0;
}

body{
	background: var(--grey-light);
	height: 100vh;
}

h1{
	font-family: var(--fam1);
	font-size: 36px;
}

h2{
	font-family: var(--fam2);
	font-size: 24px;
}

h3, h4{
	font-family: var(--fam1);
	font-size: 24px;
}

p{
	font-family: var(--fam1);
	font-size: 20px;
}

code{
	font-family: var(--fam3);
}

ul{
	list-style: none;
}

a{
	font-family: var(--fam2);
	color: var(--hack-black);
	text-decoration: none;
	letter-spacing: 2px;
}

button{
	border: 0;
	background-color: var(--highlight);
	color: #fff;
	padding: 10px;
	box-shadow: var(--shad);
	text-transform: uppercase;
	border-radius: 3px;
}

*:focus{
	outline:none;
}

button::-moz-focus-inner {
	border:0;
}

a:hover, button:hover{
	cursor: pointer;
}

.title{
	font-family: var(--fam2);
	font-size: 60px;
	letter-spacing: 5px;
}

.caption, .quote{
	font-style: italic;
}

.inactive{
	opacity: 0;
}

.mobile{
	display: none;
}

.fix-scroll{
	overflow: hidden;
}

.hl{
	color: var(--highlight);
}

.hl-grey{
	color: var(--grey-deep);
}

/*====================TOP MENU====================*/

.menu{
	height: 70px;
	width: 100vw;
	background: #fff;
	box-shadow: var(--shad);
	position: fixed;
	overflow: hidden;
	z-index: 1000;
	-webkit-transform: translate(0, 0px);
			transform: translate(0, 0px);

	-webkit-transition: all 0.4s cubic-bezier(0.88, 0.04, 0.23, 0.99);
			transition: all 0.4s cubic-bezier(0.88, 0.04, 0.23, 0.99);
}

.inactive.menu{
	-webkit-transform: translate(0, -70px);
			transform: translate(0, -70px);
}

.menu > *{
	float: right;
}

.menu img{
	margin-top: 10px;
	padding-left: 10px;
	height: 50px;
	margin-left: 10px;
}

.logo{
	float: left;
	font-size: 40px;
}

.logo-inner > *{
	position: relative;
	float: left;
}

.logo-inner img{
	position: fixed;
}

.logo-words{
	position: absolute;
	z-index: 100;
	color: var(--hack-purp);
	margin-left: 80px;
	font-size: 30px;
	top:50%;

	-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
}

.menu-inner{
	padding: 25px;
	padding-right: 30px;
}

.menu-inner li{
	display: inline-block;
	text-transform: uppercase;
	font-family: var(--fam2);
	margin-left: 35px;
	letter-spacing: 2px;
	opacity: 0.5;
}

.current{
	color: var(--hack-purp);
	opacity: 1 !important;
}

.menu-inner li:hover{
	color: var(--hack-purp);
	opacity: 0.5;
}

.login-wrapper{
	height: 70px;
	width: 90px;
	background: var(--hack-purp);
}

.login-wrapper, .login-wrapper > *{
	-webkit-transition: all 0.4s cubic-bezier(0.76,-0.38, 0.32, 1.36);
    		transition: all 0.4s cubic-bezier(0.76,-0.38, 0.32, 1.36);
}

.login-wrapper > *{
	position: absolute;
}

.login-wrapper span{
	text-align: center;
	margin-top: 14px;
	color: #fff;
	opacity: 1;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: translate(-100%);
			transform: translate(-100%);
}

.login-wrapper:hover{
	background: var(--highlight);
}

.login-wrapper:hover span{
	-webkit-transform: translate(0);
			transform: translate(0);
	opacity: 1;
}

.login-wrapper:hover img{
	-webkit-transform: translate(150%);
			transform: translate(150%);
}

.logo-mobile{
	display: none;
}

/*=====================MOBILE-HAMBURGER======================*/

.hamburger:hover{
	cursor: pointer;
}

.hamburger-inner{
	position: fixed;
	z-index: 1002;
	height: 50px;
	width: 50px;
	float: left;
	padding: 16px 10px;
}

.hamburg-line{
	background: var(--hack-purp);
	margin-bottom: 10px;
	height: 6px;
	

	-webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease;
}

.hamburg-over{
	position: fixed;
	z-index: 1001;
	height: 100vh;
	width: 100vw;
	background: rgb(105,72,117);

	-webkit-transform: translate(-100%, 0);
			transform: translate(-100%, 0);

	-webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease;
}

.hamburg-over ul{
	position: absolute;
	height: 300px;
	width: 100%;
	top: 50%;
	margin-top: -200px;
	margin-left: 8vw;
	text-transform: uppercase;
	color: #fff;
}

.hamburg-over a{
	color: #fff;
}

.hamburg-over img{
	margin-left: -10px;
    margin-bottom: 10px;
}

.mobile-login{
	z-index: 1005;
	height: 70px;
	width: 100vw;
	background: #fff;
	position: fixed;
	top: 100vh;
    margin-top: -70px;
    box-shadow: var(--shad);
}

.mobile-login h1{
	font-size: 24px;
}

.hack-mobile-login{
	font-family: var(--fam2);
	text-align: center;
	color: var(--hack-purp);
	margin-top: 20px;
}

.active .hamburg-over{
	-webkit-transform: translate(0);
          	transform: translate(0);
}

.active .hamburg-line{
	background: #fff;
}

.hamburg-line:first-child{
	transform-origin: 20%;
}

.active .hamburg-line:first-child{
	-webkit-transform: rotate(45deg) translate(17px, 0px);
          	transform: rotate(45deg) translate(17px, 0px);
}

.active .hamburg-line:nth-child(2){
	-webkit-transform: rotate(-45deg) translate(0, 10px);
          	transform: rotate(-45deg) translate(0, 10px);;
}

.active .hamburg-line:nth-child(3){
	opacity: 0;
}

/*====================PAGE-CONTENT==================*/

.content{
	position: absolute;
	margin-top: 70px;
}

/*====================REACT-PAGES==================*/

.container{
	height: 100%;
	width: 100%;
}

.app-wrapper{
	position: absolute;
	margin-top: 70px;
	width: 100%;
}

/*==================MEDIA QUERIES=================*/

@media only screen and (max-width: 850px){

	.menu{
		overflow: visible;
	}

	.menu-inner li{
		margin-left: 10px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 700px) {

	.mobile{
		display: block;
	}

	.menu-inner{
		display: none;
	}

	.logo img{
		display: block;
	}

	.logo-inner{
		display: inline;
		height: 0px;
	}

	.logo-words{
		pointer-events: none;
		letter-spacing: 0px;
	}

	.login-wrapper{
		width: 70px;
		left: 0px;
		display: none;
	}

	.login-wrapper img{
		margin-left: 0px;
		display: none;
	}

	.hamburger-inner {
		right: 0px;
		margin-right: 10px;
	}

	.logo-mobile{
		display: block;
		left: 0px
	}

}