
/*==============PROJECT GRID============*/

.grid{
	width: 790px;
	margin: 20px auto;
}

.project-td{
	display: block;
	float: left;
	padding-bottom: 10px;
	margin-left: 10px;
}

.project-td:first-child{
	margin-left: 0px;
}

.project-item{
	width: 250px;
	height: 460px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: var(--shad);
	-webkit-transition: all 1.5s cubic-bezier(0.65,-0.3, 0.36, 1.07);
			transition: all 1.5s cubic-bezier(0.65,-0.3, 0.36, 1.07);
}

.project-item.exitLeft{
	transform: translateX(-1500px);
}

.project-item.exitRight{
	transform: translateX(1500px);
}

.project-item .img-wrapper{
	height: 250px;
	width: 250px;
	background-size: cover;
	background-position: 50%;
}

.text-wrapper{
	background: #fff;
	height: 200px;
	width: 250px;
	padding: 10px 0px;
}

.text-wrapper .title-wrapper{
	height: 36px;
	padding: 0 10px;
}

.text-wrapper h3{
	font-family: var(--fam1);
	font-size: 18px;
	text-align: center;
}

.text-wrapper ul{
	padding: 20px;
	height: 86px;
	overflow: scroll;
}

.text-wrapper li{
	font-family: var(--fam1);
	color: var(--grey-deep);
}

.text-wrapper button{
	width: 100%;
	border: 0;
	background: #fff;
	color: var(--highlight);
	border-top: 1px solid var(--grey-light);
	padding: 10px 0;
	font-size: 14px;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}

.text-wrapper button:hover{
	background: var(--highlight);
	color: #fff;
}

/*==============PROJECT DETAIL============*/

.project-detail{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: -100%;
	margin-top: -20px;
	-webkit-transition: all 1s cubic-bezier(0.65,-0.3, 0.36, 1.07);
			transition: all 1s cubic-bezier(0.65,-0.3, 0.36, 1.07);
}

.project-detail.enter{
	left: 0%;
}

.project-detail .btn-wrapper{
	position: absolute;
	z-index: 100;
}

.project-detail .img-wrapper, .project-detail img{
	height: 100vh;
	position: absolute;
}

.detail-zoom{

}


/*==============MEDIA QUERIES============*/

@media only screen and (max-width: 790px){

	.grid{
		width: 100%;
		margin-bottom: 70px;
	}

	.project-td, .project-item{
		display: block;
		margin: 5px auto;
		width: 90%;
	}

	.project-td, .img-wrapper, .text-wrapper{
		width: 100% !important;
	}


}
