@font-face {
	font-family: 'Open Sans';
	src: url('/common/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('/common/fonts/Montserrat-Regular.ttf');
}

@font-face{
	font-family: 'Source Code Pro';
	src: url('/common/fonts/SourceCodePro-Regular.ttf');
}

:root{
	--fam1: 'Open Sans', sans-serif;
	--fam2: 'Montserrat', sans-serif;
	--fam3: 'Source Code Pro', sans-serif;
}


.content{
	width: 100%;
}

.content > *{
	margin: 0 auto;
}

/*==================HEADER==================*/

.header{
	height: 250px;
	width: 800px;
	margin-top: 20px;
}

.team-pic
{
    height: 250px;
    width: 250px;
	float:left;
	background-size: cover;
}

.header > *{
	float: left;
}

.desc{
	width: 550px;
	padding: 20px;
	background: #fff;
	height: 250px;
}

.header h1{
	font-family: var(--fam2);
	font-weight: bold;
	letter-spacing: 2px;
}

.team-description{
	font-family: var(--fam1);
	font-size: 14px;
}

/*================INFO-CARDS==================*/

.card-wrapper{
	margin-top: 20px;
	overflow: auto;
	width: 800px;
}

.card{
	background: #fff;
	width: 390px;
	float: left;
	text-align: center;
}

.card:first-child{
	margin-right: 20px;
}

.title{
	margin-top: 40px;
	font-family: var(--fam2);
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 5px;
}

.member{
	margin-top: 25px;
	text-align: right;
}

.profile-pic{
	width:  80px; 
    height: 80px;
	border-radius: 50%;
	float:left;
	margin-left:28px;
}

.member-name{
	font-family: var(--fam1);
	font-weight: 900;
	font-size: 17px;
	margin-left: 140px;
	text-align: left;
	letter-spacing: 2px;
	margin-right: 15px;
	

}
.member-info{
	font-family: var(--fam1);
	font-size: 16px;
	margin-left: 140px;
	margin-right: 15px;
	text-align: left;
}

/*================MEDIA QUERIES==================*/


@media only screen and (max-width: 850px){

	.header, .card-wrapper{
		width: 80%;
		margin-bottom: 20px;
	}

	.team-pic, .desc{
		width: 100%;
	}

	.header, .desc{
		height: auto;
		overflow: auto;
	}

	.card {
		margin: 0 auto 20px auto !important;
		padding: 20px;
		float: none;
		width: 100%;
	}

}