<!DOCTYPE html>
<html>
    <head>
        <title>ACM | Sign In | Error</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,400i|Trirong" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/signin/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body> 
        <div id="main">
            <h1>Sign In</h1>
            <p>There was an error processing your request: {{ error }}.</p>
        </div>
    </body>
</html>