<!DOCTYPE html>
<html>
    <head>
        <title>ACM | Sign In</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,600,700|Trirong" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/signin/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body> 
        <div id="main">
            <h1>Sign In</h1>
            <h2>Hack School Session 7</h2>
            <h3>ACM Hack</h3>

            <form class="center">
                <input type="text" class="big" placeholder="Enter your UID..."/>
            </form>

            <div class="hr"></div>

            <p>Welcome to ACM! This seems to be your first ACM event this year. Please fill out some additional information.</p>
            <form>
                <label for="firstName">First Name:</label><br />
                <input type="text" name="firstName" /><br />

                <label for="lastName">Last Name:</label><br />
                <input type="text" name="lastName" /><br />

                <label for="email">Email Address:</label><br />
                <input type="text" name="email" /><br />

                <label for="year">Major</label><br />
                <input type="text" name="major" /><br />

                <label for="year">Year (1, 2, 3, 4, etc.)</label><br />
                <input type="text" class="short" name="year" /><br />

                <br />
                <button class="main">Sign In</button>
                <button class="secondary">Reset</button>

                <br /><br /><br />
            </form>
        </div>
    </body>
</html>